*{
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
    color: white;
    box-sizing: border-box;
}

body{
    background: url('https://wallpapers.com/images/hd/leather-texture-pictures-po8ezad4v6huvney.jpg');
}

.header{
    display: flex;
    justify-content: end;
    background-color: rgb(48, 48, 48);
    color: bisque;
    padding: 25px;
}

.header h3{
    margin-right: 120px;
    padding:1px 15px 1px;
    font-size: 22px;
    text-decoration: none !important;
}

#home{  
    display: flex;
    justify-content: center;
    padding: 120px;
}
#about{
    width: 100vw;
    height: auto;
    color: aliceblue;
    background: black;
}
#about h2{
    background:rgb(48, 48, 48);
    padding: 25px;
    display: flex;
    justify-content: center;
}

#about p{
    padding: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

#projects{
    width: 100vw;
    height:auto;
    background: bisque;
    color: black;
}
#projects h2{
    display: flex;
    justify-content: center;
    padding: 25px;
    background: rgb(48, 48, 48);
}
#projects li{
    font-size: 20px;
    color: black;
    margin-top: 25px;
    margin-left: 200px;
    padding: 15px;
}
#achievements{
    width: 100vw;
    height: auto;
    background: rgb(0, 0, 0);
}
#achievements h2{
    display: flex;
    justify-content: center;
    padding: 25px;
    background: rgb(48, 48, 48);
}
#achievements ul{
    list-style: disc ;
    margin-left: 150px;
    padding: 30px;
}

#achievements ul li{
    font-size: 20px;

}
#achievements ul li h3{
    font-size: 22px;
    padding: 5px;
}
#achievements ul li li{
    padding: 300px;
}

#contact{
    width: 100vw;
    height: auto;
}
#contact h2{
    
    display: flex;
    justify-content: center;
    padding: 25px;
    background: rgb(48, 48, 48);
}
#form{
    color: black;
    background-color: #9478549f;
    border-radius: 32px;
}
.form-control
{
    text-align: left;
	margin-bottom: 25px;
}
.form-control label
{
    font-size: 20px;
    margin-left: 380px;
}
.form-control input[type="text"],.form-control select,.form-control textarea 
{
    margin-left: 400px;
    background-color: bisque;
    border-radius: 8px;
    padding: 15px;
    display: block;
    width: 50%;
}
/* Styling Button */
button {
	background-color: rgb(248, 224, 193);
    padding: 10px;
	border-radius: 8px;
	display: block;
	width: 20%;
	margin-top: 20px;
    margin-left: 40%;	
    color: black;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    color: bisque;
    padding: 25px auto 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer b{
    margin-right:100px;
}
.copy{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    background:rgb(48, 48, 48);
    padding: 20px;
}
.copy h3{
    font-size: 15px;
}
.copy a{
    font-size: 25px;
    text-decoration: none;
    margin-left: 500px;
}